nav {
    background-color: #454545;
}
ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 97%;

}
div#right {
    text-align: right;
    display: inline-block;
}
#right span {
    color: silver;
}